<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      
      
      <!--<add name="db1" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=E:\BILL BIZZ INVENTORY\COOL 9 (PBVR)\cool 9 DB\cool9db 06 aug 2018\Inventory_Base.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"/>-->
      <!--<add name="db1" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=E:\25 JUL 2018\TailorMatePro\Inventory_Base.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"/>-->
      <add name="db" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Stock;Integrated Security=True"/>
    
  
  </connectionStrings>
     
   <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
   </startup>
</configuration>